@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
body {
  background-color: #e6decf;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.8;
}

h2 {
  font-size: 50px;
	color: #222323;
	font-family: Montserrat;
  padding: 0% 10%;
}

a {
	color: #222323;
	font-family: Montserrat;
  text-decoration: none;
}

.closebt {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2% 2%;
}
